#ng-wait
.ng-load
    form.well(ng-controller="NameCtrl")
        h2 {{ data.name }}
        .row
            .form-group.col-md-5
                input.form-control(type="text", ng-model="data.fname", value="{{data.fname}}")
            .form-group.col-md-5
                input.form-control(type="text", ng-model="data.lname", value="{{data.lname}}")
            .form-group.col-md-2
                a.btn.btn-default(ng-click="updateName()") Update Name
        p Preview: 
            strong {{ data.fname }} {{ data.lname }}
    .well(ng-controller="FlipCtrl")
        h2 {{ flipNames()|reverse }}
        p Flipped: 
            strong {{ data.fname|reverse }} ,{{ data.lname|reverse }}
    .well(ng-controller="FrameworkCtrl")
        h2 Search
        .input-group
            span.input-group-addon.glyphicon.glyphicon-search
            input.form-control(type="text", ng-model="searchText")
        table.table
            thead
                tr
                    th Name
                    th Language
            tbody
                tr(ng-repeat="framework in frameworks.web | filter:searchText")
                    td {{ framework.name }}
                    td {{ framework.lang }}
    .dync.media-list
        .media(dyna, name="Anonymous", text="Test 1")
            .media(dyna, name="Anonymous", text="Test A")
                .media(dyna, name="Anonymous", text="Test a")
        .media(dyna, name="Anonymous", text="Test 2")
            .media(dyna, name="Anonymous", text="Test B")
            .media(dyna, name="Anonymous", text="Test C")
        .media(dyna, name="Anonymous", text="Test 3")
