extends layout

block app
    script(type="text/ng-template", id="dashboard.html")
        .jumbotron
            h1 Welcome to the Arch Cloud!
            p 
                | Brought to you by my beloved server, 
                em Frankenstein
                | , the machine made from the parts of other machines. 
                | This service is born from the byproduct of boredom and 
                | the constant desire to be programming. I hope you enjoy it!
            em - Austin Ewens 
        .col-sm-6.col-xs-12
            .well
                span.h2
                    | Module 1
                    a.btn.btn-link(href="#/mod1")
                        span.glyphicon.glyphicon-link
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                span.h2
                    | Module 2
                    a.btn.btn-link(href="#/mod2")
                        span.glyphicon.glyphicon-link
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                span.h2
                    | Module 3
                    a.btn.btn-link(href="#/mod3")
                        span.glyphicon.glyphicon-link
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                span.h2
                    | Module 4
                    a.btn.btn-link(href="#/mod4")
                        span.glyphicon.glyphicon-link
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                span.h2
                    | Module 5
                    a.btn.btn-link(href="#/mod5")
                        span.glyphicon.glyphicon-link
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                span.h2
                    | Module 6
                    a.btn.btn-link(href="#/mod6")
                        span.glyphicon.glyphicon-link
                p A thing that does stuff and whatever
                
    .container
        .page-header
            h1
                span#cloud.glyphicon.glyphicon-cloud
                |  Arch Cloud
        ng-view
