extends layout

block app
    #hide.mdl-spinner.mdl-js-spinner.is-active
    #angular-name.load
        form(ng-controller="NameCtrl")
            h2 {{ data.name }}
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input(type="text", ng-model="data.fname", id="fname", value="{{data.fname}}")
                label.mdl-textfield__label(for="fname") First Name
                
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input(type="text", ng-model="data.lname", id="lname", value="{{data.lname}}")
                label.mdl-textfield__label(for="lname") Last Name
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(ng-click="updateName()") Update Name
            p Preview: 
                strong {{ data.fname }} {{ data.lname }}
    #angular-reverse.load
        form(ng-controller="ReverseCtrl")
            h2 {{ data.name.split(" ").reverse().join(", ") }}
            p Flipped: 
                strong {{ data.lname }}, {{ data.fname }}
