extends layout

block app
    script(type="text/ng-template", id="otherwise.html")
        .panel.panel-info
            .panel-heading Page not found!
            .panel-body
                span.glyphicon.glyphicon-link.middle
                a.btn.btn-link(href="#/") Go to home &raquo;
    script(type="text/ng-template", id="dashboard.html")
        .jumbotron
            h1 Welcome to the Arch Cloud!
            p 
                | Brought to you by my beloved server, 
                em Frankenstein
                | , the machine made from the parts of other machines. 
                | This service is born from the byproduct of boredom and 
                | the constant desire to be programming. I hope you enjoy it!
            em - Austin Ewens 
        .col-sm-6.col-xs-12
            .well
                h2.glyphicon.glyphicon-link.middle
                span
                    a.btn.btn-link(href="#/mod1")
                        h2
                            | Module 1 
                            | &raquo;
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                h2.glyphicon.glyphicon-link.middle
                span
                    a.btn.btn-link(href="#/mod2")
                        h2
                            | Module 2 
                            | &raquo;
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                h2.glyphicon.glyphicon-link.middle
                span
                    a.btn.btn-link(href="#/mod3")
                        h2
                            | Module 3 
                            | &raquo;
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                h2.glyphicon.glyphicon-link.middle
                span
                    a.btn.btn-link(href="#/mod4")
                        h2
                            | Module 4 
                            | &raquo;
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                h2.glyphicon.glyphicon-link.middle
                span
                    a.btn.btn-link(href="#/mod5")
                        h2
                            | Module 5 
                            | &raquo;
                p A thing that does stuff and whatever
        .col-sm-6.col-xs-12
            .well
                h2.glyphicon.glyphicon-link.middle
                span
                    a.btn.btn-link(href="#/error")
                        h2
                            | Otherwise
                            | &raquo;
                p To see how the otherwise page works
                
    .container
        .page-header
            h1
                span.glyphicon.glyphicon-cloud.middle
                |  Arch Cloud
        ng-view
