extends layout

block app        
    .container
        .page-header
            h1 aewens
        .jumbotron
            h1 Welcome to the site!
            p 
                | Brought to you by my beloved server, 
                em Frankenstein
                | , the machine made from the parts of other machines. 
                | This service is born from the byproduct of boredom and 
                | the constant desire to be programming. I hope you enjoy it!
            em - Austin Ewens
