extends layout

block app
    nav
        .nav-wrapper
            a.brand-logo(href="#") Cloud
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href="#") Ng-Name
                li
                    a(href="#") Ng-Test
            
    #hide.container.center
        .preloader-wrapper.big.active
            .spinner-layer.spinner-blue-only
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
    #angular-name.container.ng-cloak
        form.col.s12(ng-controller="NameCtrl")
            .row
                h2 {{ name }}
            .row
                .input-field.col.s6
                    input(type="text", ng-model="fname", id="fname", value="{{fname}}")
                    label(for="fname") First Name
                .input-field.col.s6
                    input(type="text", ng-model="lname", id="lname", value="{{lname}}")
                    label(for="lname") Last Name
            .row
                a.waves-effect.waves-light.btn.col.s12(ng-click="updateName()")
                    | Update Name
            .row
                p Preview: 
                    strong {{ fname }} {{ lname }}
