extends layout

block app
    .container
        .page-header
            h1 Cloud
        .jumbotron
            h1 Welcome to the Arch Cloud!
            p 
                | Brought to you by my beloved server, 
                em Frankenstein
                | , the machine made from the parts of other machines. 
                | This service is born from the byproduct of boredom and 
                | the constant desire to be programming. I hope you enjoy it!
            em - Austin Ewens 
        
        #ng-wait
        .ng-load
            form.well(ng-controller="NameCtrl")
                h2 {{ data.name }}
                .row
                    .form-group.col-md-5
                        input.form-control(type="text", ng-model="data.fname", value="{{data.fname}}")
                    .form-group.col-md-5
                        input.form-control(type="text", ng-model="data.lname", value="{{data.lname}}")
                    .form-group.col-md-2
                        a.btn.btn-default(ng-click="updateName()") Update Name
                p Preview: 
                    strong {{ data.fname }} {{ data.lname }}
            .well(ng-controller="FlipCtrl")
                h2 {{ flipNames()|reverse }}
                p Flipped: 
                    strong {{ data.fname|reverse }} ,{{ data.lname|reverse }}
            .well(ng-controller="FrameworkCtrl")
                h2 Search
                .input-group
                    span.input-group-addon.glyphicon.glyphicon-search
                    input.form-control(type="text", ng-model="searchText")
                table.table
                    thead
                        tr
                            th Name
                            th Language
                    tbody
                        tr(ng-repeat="framework in frameworks.web | filter:searchText")
                            td {{ framework.name }}
                            td {{ framework.lang }}
